<header>
  <h1>Welcome to the Angular Project-"Personal Contact Diary"</h1>
</header>

<section >
  <h2>About the Project</h2>
  <p>
    This project is a web application built using Angular that serves as a
    dynamic form for collecting and managing personal information. Users can
    enter their name, phone number, and email address, which are then displayed
    inside the table. Additionally, the application allows users to edit and
    delete these personal details, providing a complete user experience.
  </p>
</section>

<section>
  <h2>Challenges and Difficulties Faced</h2>
  <p>
    Throughout the development of this project, we encountered several
    challenges and difficulties. These included:
  </p>

  <ul>
    <li>
      Handling and validating form data, ensuring data integrity and
      user-friendliness.
    </li>
    <li>
      Designing a visually appealing and responsive user interface to provide an
      excellent user experience.
    </li>
    <li>
      Implementing robust functionality for editing and deleting user data
      cards.
    </li>
    <li>
      Optimizing the performance of the application for a seamless user
      experience.
    </li>
  </ul>
</section>

<section>
  <h2>Project Explanation</h2>
  <p>
    This project showcases the capabilities of Angular for building dynamic and
    interactive web applications. Here's a brief explanation:
  </p>

  <ul>
    <li>
      Input Form: Users can enter their name, phone number, and email address
      into the input form.
    </li>
    <li>
      Data Display: The entered data is dynamically displayed as cards within
      the application.
    </li>
    <li>
      Edit and Delete: Users can edit or delete their data cards to make changes
      or remove information as needed.
    </li>
    <li>
      Default Values: Users have the ability to view and access a set of
      predefined values that have been pre-assigned to the table.
    </li>
    <li>
      User Experience: Our project aims to provide a smooth and user-friendly
      experience for collecting and managing personal information.
    </li>
  </ul>
</section>

<section >
  <p>
    Ready to use our form? Click the button below to go to the Angular form
    project.
  </p>
  <a  class="btn" routerLink="/form">Go to Form</a>
</section>
